.content h1{
    color: #da552f;
}

.content li{
    margin: 2.5rem;
    padding-left: 1rem;
}

.content p{
    font-size: 20px;
}

.content br{
    font-size: 1.5em;
}

.symbol{
    font-size: 1.5em;
}

.calculation{
    margin: 1em;
    padding: 10px;
    border: 1px solid #da552f;
}

@media (max-width: 600px){
    .content li{
        margin: 0.5rem;
        padding-left: 0.2rem;
    }

    .content img{
        width: 150px;
    }
}