header#main-header{
    width: 100%;
    min-width: 600px;
    height: 100px;
    background-color: #f35d34;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header#main-header img{
    height: 100px;
    margin: none;
    padding: none;
    background-color: #f35d34;
}

header#main-header h1{
    margin-left: 10px;
}

.header-link, .header-link-active{
    color: #fff;
    text-decoration: none;
}